{% extends "blog/base.html" %}
{% block content %}
{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata d-flex align-items-center">
            <a class="mr-2" href="#">{{ post.author.user.username }}</a>
            <img src="{{ post.author.image_to.url }}"
                 style="margin-right: 10px; border-radius: 50%; width:10%; height:10%">
            <small class="text-muted">{{ post.date_create }}</small>
            {% if user.is_authenticated and user.pk == post.author.user.pk %}
            <span class="text-muted ml-auto"><a href="{% url 'delete_post' post.pk %}">Delete</a> or <a
                    href="{% url 'update_post' post.pk %}">Update</a></span>
            {% endif %}
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %}
<div style="margin-top: 50px;">
    <ul style="list-style: none; display:flex; justify-content:space-between;">
        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-num page-num-selected d-inline" style="font-size: 23px;">{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <button class="page-num d-inline"
                style="background-color: rgb(95,120,138); border-color: rgb(95,120,138); width: 56px; height: 56px; border-radius: 50%;">
            <a href="?page={{ p }}" style=" color: white;">{{ p }}</a></button>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock content %}
